/.DS_Store
.DS_store
/proper-motions/auto/
/proper-motions/will-529-III-motions.pdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
/proper-motions/will-529-III-motions.log
/proper-motions/will-529-III-motions.out
*.synctex.gz
/shock-vs-shell/ltximg/
/shock-vs-shell/auto/
/shock-vs-shell/will-shock-emission.pdf
/shock-vs-shell/will-shock-emission.log
/shock-vs-shell/will-shock-emission.out
/auto/
hh204/red*.fits
/press-release-hh204/final658-radec.fits
